{
    "tabWidth": 2,
    "printWidth": 120,
    "singleQuote": ture,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false,
                "endOfLine": "auto"
            }
        }
    ]
}